<div class="container">
  <mat-card class="login-form" [formGroup]="loginForm" >
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field >
        <mat-label>Login</mat-label>
        <input matInput formControlName="login">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-card-actions align="end">
        <button (click)="login()" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>
